{{#each data.spellcasting as |class classKey|}}
  <h2 class="features__title">
    <span>{{class.name}}</span>
    <span>
      <button type="button" data-item-id="{{classKey}}" data-item-action="edit">
        <i class="fa fa-eye">
          <span class="sr-only">Examine Class</span>
        </i>
      </button>
    </span>
  </h2>
  {{#if slots}}
    {{#each slots as |slot key|}}
      {{#if (gt slot.max 0)}}
        <h3>Level {{key}} ({{slot.preparedSpells.length}}/{{slot.max}})</h3>
        <div
          class="spell-level"
          data-item-id="{{classKey}}"
          data-spell-level="{{key}}">
          <h4>Prepared Spells</h4>
          <ul class="prepared-spells">
            {{#each (paddedTo (getClassPreparedSpellsAtLevel ../../classes classKey key) slot.max) as |spell spellKey|}}
              {{#if spell}}
                <li
                  class="spell"
                  data-item-id="{{spell.id}}">
                  <img src="{{img}}">
                  <span class="spell__spell-name">{{spell.name}}</span>
                </li>
              {{else}}
                <li class="spell spell--empty">Empty</li>
              {{/if}}
            {{/each}}
          </ul>

          <h4>Known Spells</h4>
          <ul class="known-spells">
            {{#each (spellsAtLevel ../../spells class key)}}
              <li class="spell" data-item-id="{{_id}}">
                <img src="{{img}}">
                <span class="spell__spell-name">{{name}}</span>
              </li>
            {{else}}
              <li class="spell spell--empty">Empty</li>
            {{/each}}
          </ul>
        </div>
      {{/if}}
    {{/each}}
  {{else}}
    <div class="spell-points">
      <label>Spell Points</label>
      <span class="spell-points__values">
        <input
          data-edit-item
          data-item-id="{{classKey}}"
          data-item-field="data.currentSpellPoints"
          value="{{class.value}}"
          min="{{class.min}}"
          max="{{class.max}}"
          type="number"
          data-dtype="Number" /> /
        <input
          readonly
          value="{{class.max}}"
          type="number"
          data-dtype="Number" />
      </span>
    </div>
  {{/if}}
{{/each}}

{{!-- <ol class="items-list">
  {{#each spells as |spells spellLevel|}}
    <li class="item flexrow items-header">
      <div class="item-name">Level {{spellLevel}} Spells</div>
      <div class="item-controls">
        <a class="item-control item-create" title="Create item" data-type="spell" data-spell-level="{{spellLevel}}"><i class="fas fa-plus"></i> Add LVL {{spellLevel}}</a>
      </div>
    </li>
    {{#each spells as |item id|}}
      <li class="item flexrow" data-item-id="{{item._id}}">
        <div class="item-name flexrow">
          <div class="item-image">
            <a class="rollable" data-roll-type="item"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></a>
          </div>
          <h4>{{item.name}}</h4>
        </div>
        <div class="item-controls">
          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
      </li>
    {{/each}}
  {{/each}}
</ol> --}}
