<h2 class="features__title">Languages</h2>

{{#if data.maxLanguages}}
  <ul class="features features--languages">
    {{#each (arbitraryLoop data.maxLanguages) }}
      <li class="feature__item">
        <input
          type="text"
          data-dtype="String"
          name="data.languages"
          value="{{lookup data.languages @index}}"/>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p class="feature__item--empty">You cannot speak any languages.</p>
{{/if}}

<h2 class="features__title">
  <span>Ancestry: {{ancestry.name}}</span>
  {{#if ancestry._id}}
    <span>
      <button type="button" data-item-id="{{ancestry._id}}" data-item-action="edit">
        <i class="fa fa-eye">
          <span class="sr-only">Examine Ancestry</span>
        </i>
      </button>
      <button type="button" data-item-id="{{ancestry._id}}" data-item-action="delete">
        <i class="fa fa-trash">
          <span class="sr-only">Remove Ancestry</span>
        </i>
      </button>
    </span>
  {{/if}}
</h2>

<ul class="features features--ancestry">
  {{#each ancestry.data.features as |feature|}}
    <li class="feature__item">{{{markdown feature}}}</li>
  {{else}}
    <li class="feature__item feature__item--empty">No ancestry selected</li>
  {{/each}}
</ul>

<h2>Heritages</h2>
{{#each heritages as |heritage|}}
  <h3 class="features__title">
    <span>{{heritage.name}}</span>
    <span>
      <button type="button" data-item-id="{{heritage._id}}" data-item-action="edit">
        <i class="fa fa-eye">
          <span class="sr-only">Examine Heritage</span>
        </i>
      </button>
      <button type="button" data-item-id="{{heritage._id}}" data-item-action="delete">
        <i class="fa fa-trash">
          <span class="sr-only">Remove Heritage</span>
        </i>
      </button>
    </span>
  </h3>

  <div class="features features--heritage">
    {{#if heritage.data.description}}
      {{{markdown heritage.data.description}}}
    {{else}}
      <p>This heritage does not have a description</p>
    {{/if}}
  </div>
{{else}}
    <p class="feature__item--empty">No heritages selected</p>
{{/each}}

<h2>Classes</h2>
{{#each classes as |class classkey|}}
  <h3 class="features__title">
    <span>Lv. {{class.level}} {{class.name}} ({{class.xp}}/{{class.xpNext}})</span>
    <span>
      <button type="button" data-item-id="{{class.id}}" data-item-action="edit">
        <i class="fa fa-eye">
          <span class="sr-only">Examine Heritage</span>
        </i>
      </button>
      <button type="button" data-item-id="{{class.id}}" data-item-action="delete">
        <i class="fa fa-trash">
          <span class="sr-only">Remove Heritage</span>
        </i>
      </button>
    </span>
  </h3>

  <ul class="features features--class">
    {{#each class.features as |feature featurekey|}}
      <li class="feature__item">
        <h4>{{feature.title}}</h4>
        {{{markdown feature.content}}}
      </li>
    {{else}}
      <li class="feature__item feature__item--empty">This class does not have any features at this level.</li>
    {{/each}}
  </ul>
{{else}}
  <p class="feature__item--empty">No classes selected</p>
{{/each}}
