<section class="items">
  {{#if actor.system.carryWeight}}
  <div class="items__carry-weight">
    <h4>Carry weight</h4>
    {{#with actor.system.carryWeight}}
    <meter
      class="items__carry-weight-bar"
      value="{{value}}"
      min="0"
      optimum="{{oneQuarter}}"
      low="{{half}}"
      high="{{threeQuarters}}"
      max="{{max}}"
      title="Carrying {{value}}/{{max}}"
    >
      <span>{{value}}/{{max}}</span>
    </meter>
    {{/with}}
  </div>
  {{/if}}

  <h3 class="action-header">
    <span>Weapons</span>
    <button type="button" data-item-action="create" data-item-type="weapon">
      <i class="fa fa-plus">
        <span class="sr-only">Add New Weapon</span>
      </i>
    </button>
  </h3>
  {{> (partial "actor/parts/grids/actor-weapon-grid.hbs") }}
  {{#if (eq actor.type 'npc')}}
    <div class="attack-settings">
      <h4>Attack Settings</h4>

      <label for="attacks">Attacks per turn</label>
      <input
        name="system.attacks"
        value="{{actor.system.attacks}}"
        type="text"
        data-dtype="String" />

      <label for="specialAttacks">Special Attacks</label>
      <input
        name="system.specialAttacks"
        value="{{actor.system.specialAttacks}}"
        type="text"
        data-dtype="String" />
    </div>
  {{/if}}

  <h3 class="action-header">
    <span>Armor</span>
    <button type="button" data-item-action="create" data-item-type="armor">
      <i class="fa fa-plus">
        <span class="sr-only">Add New Armor</span>
      </i>
    </button>
  </h3>
  {{> (partial "actor/parts/grids/actor-armor-grid.hbs") }}

  <h3 class="action-header">
    <span>Gear</span>
    <button type="button" data-item-action="create" data-item-type="gear">
      <i class="fa fa-plus">
        <span class="sr-only">Add New Gear Item</span>
      </i>
    </button>
  </h3>
  {{#if useGearCards}}
    {{> (partial "actor/parts/grids/actor-gear-cards.hbs") }}
  {{else}}
    {{> (partial "actor/parts/grids/actor-gear-grid.hbs") }}
  {{/if}}

  <h3 class="action-header">
    <span>Wealth</span>
    <button type="button" data-item-action="create" data-item-type="treasure">
      <i class="fa fa-plus">
        <span class="sr-only">Add New Treasure Item</span>
      </i>
    </button>
  </h3>
  {{> (partial "actor/parts/grids/actor-wealth-grid.hbs") }}

  {{#if actor.system.wealth}}
    <h3>Currency</h3>
    <div class="items__currency">
      {{#each actor.system.wealth as |value key|}}
        <div class="items__currency-item items__currency-item--{{key}}">
          <label for="wealth.{{key}}">{{key}}</label>
          <input
            type="number"
            data-dtype="Number"
            name="system.wealth.{{key}}"
            value={{value}} />
        </div>
      {{/each}}
    </div>
  {{/if}}
</section>