{{#each actor.system.attributes as |attribute key|}}
  <div class="attributes__item">
    <input
      type="number"
      min="0"
      name="system.attributes.{{key}}"
      value="{{attribute}}"
      data-dtype="Number"/>
    <button
      class="rollable rollable--no-icon"
      data-roll="attribute"
      data-key="{{key}}">
      <label for="system.attributes.{{key}}">
        {{localizeAttr key}}
      </label>
    </button>
  </div>
{{/each}}