{{#each actor.system.spellcasting as |class classKey|}}
  <h2 class="features__title">
    <span>{{class.name}}</span>
    <span>
      <button type="button" data-item-id="{{classKey}}" data-item-action="edit">
        <i class="fa fa-edit">
          <span class="sr-only">Edit Class</span>
        </i>
      </button>
    </span>
  </h2>
  {{#if slots}}
    {{#each slots as |slot key|}}
      {{#if (gt slot.max 0)}}
        <h3>Level {{key}} ({{slot.preparedSpells.length}}/{{slot.max}})</h3>
        <div
          class="spell-level"
          data-item-id="{{classKey}}"
          data-spell-level="{{key}}">
          <h4>Prepared Spells</h4>
          <ul class="prepared-spells">
            {{#each (paddedTo (getClassPreparedSpellsAtLevel ../../classes classKey key) slot.max) as |spell spellKey|}}
              {{#if spell}}
                <li
                  class="spell"
                  data-item-id="{{spell.id}}">
                  <img src="{{img}}">
                  <span class="spell__spell-name">{{spell.name}}</span>
                </li>
              {{else}}
                <li class="spell spell--empty">Empty</li>
              {{/if}}
            {{/each}}
          </ul>

          <h4>Known Spells</h4>
          <ul class="known-spells known-spells--slot-caster">
            {{#each (spellsAtLevel ../../spells class key)}}
              <li class="spell" data-item-id="{{_id}}">
                <img src="{{img}}">
                <span class="spell__spell-name">{{name}}</span>
              </li>
            {{else}}
              <li class="spell spell--empty">Empty</li>
            {{/each}}
          </ul>
        </div>
      {{/if}}
    {{/each}}
  {{else}}
    <div class="spell-points">
      <label>Spell Points</label>
      <span class="spell-points__values">
        <input
          data-edit-item
          data-item-id="{{classKey}}"
          data-item-field="currentSpellPoints"
          value="{{class.value}}"
          min="{{class.min}}"
          max="{{class.max}}"
          type="number"
          data-dtype="Number" /> /
        <span class="spell-points__max">{{class.max}}</span>
      </span>
    </div>

    <h3>Known Spells</h3>
    {{#each (arbitraryLoop class.maxSpellLevel)}}
      <div
        class="spell-level"
        data-item-id="{{classKey}}"
        data-spell-level="{{sum @index 1}}">
        <h4>Level {{sum @index 1}}</h4>
        <ul class="known-spells known-spells--points-caster">
          {{#each (spellsAtLevel ../../spells class (sum @index 1))}}
            <li class="spell" data-item-id="{{_id}}">
              <img src="{{img}}">
              <span class="spell__spell-name">{{name}}</span>
            </li>
          {{else}}
            <li class="spell spell--empty">Empty</li>
          {{/each}}
        </ul>
      </div>
    {{/each}}
  {{/if}}
{{/each}}
