<h2>Derived Stats</h2>

{{#with data.attributes}}
  
  {{!--
  {{derivedStat 'dex' dex 'modInitiative' }}
  {{signedString (derivedStat 'dex' dex 'modInitiative') }}
  --}}
  

  <div class="derived-stat derived-stat--str">
    <h3>Strength ({{str}})</h3>
    
    <h4>Combat</h4>
    <p>When using a melee weapon, you have a {{signedString (derivedStat 'str' str 'modToHit') }} modifier to attack rolls, and a {{signedString (derivedStat 'str' str 'modMeleeDamage') }} modifier to damage rolls.</p>

    <h4>Carry Weight</h4>
    <p>You can carry up to {{derivedStat 'str' str 'carryWeight' }}lbs.</p>
    <p>For every quarter of your carry weight that is taken up by equipment, you may find it harder to swim and move. These changes in mobility are accounted for in this character sheet. See the book (encumbrance, pg. 144 and swimming and drowning, pg. 150) for more information.</p>
  </div>

  <div class="derived-stat derived-stat--int"></div>
    <h3>Intelligence ({{int}})</h3>

    <h4>Spellcasting</h4>
    <p>You can learn spells up to level {{derivedStat 'int' int 'maxSpellLevel' }}, and a maximum of {{derivedStat 'int' int 'maxSpellsPerLevel' }} spells per spell level.</p>

    {{#if (derivedStat 'int' int 'isIllusionImmune')}}
      <p>In addition, you can see through illusions up to spell level 5. If your Intelligence is 25 or higher, you can see through all illusions.</p>
    {{/if}}

    <h4>Languages</h4>
    <p>You can speak up to {{derivedStat 'int' int 'languages' }} different languages.</p>
  </div>

  <div class="derived-stat derived-stat--wis"></div>
    <h3>Wisdom ({{wis}})</h3>

    <h4>Spellcasting</h4>
    {{#if (derivedStat 'wis' dex 'hasLv7Divine')}}
      <p>You are capable of casting level 6 and 7 Cleric and Druid spells (so long as you have the slots).</p>
    {{else}} 
      {{#if (derivedStat 'wis' dex 'hasLv6Divine')}}
        <p>You are capable of casting up to level 6 Cleric and Druid spells (so long as you have the slots).</p>
      {{else}}
        <p>You are capable of casting up to level 5 Cleric and Druid spells (so long as you have the slots).</p>
      {{/if}}
    {{/if}}

    <p>Your Wisdom score may also entitle you to additional Cleric and/or Druid spell slots; please see the chart on page 14. If you are a Divine spellcaster, these slots are already factored into your character's Spells tab.</p>

    <h4>Mental Saves</h4>
    <p>You have a {{signedString (derivedStat 'wis' dex 'modMentalSave') }} modifier to saves for the purpose of resisting spells and effects that affect your mind.</p>

    <h4>Perception</h4>
    <p>You have a {{signedString (derivedStat 'wis' dex 'modPerception') }} modifier to Wisdom rolls for the purpose of perceiving things.</p>
  </div>

  <div class="derived-stat derived-stat--dex"></div>
    <h3>Dexterity ({{dex}})</h3>
    <p>You have a {{signedString (derivedStat 'dex' dex 'modInitiative') }} modifier to your Initiative rolls.</p>
    <p>In addition, you have an Agility modifier of {{signedString (derivedStat 'dex' dex 'modAgility') }}. This modifier is applied to your Reflex save, ranged chance to hit, and armor class.</p>
  </div>

  <div class="derived-stat derived-stat--con"></div>
    <h3>Constitution ({{con}})</h3>

    <h4>HP</h4>
    <p>You have a modifier of {{signedString (derivedStat 'con' cha 'modHP' )}} per level to your max HP. If you are not a Warrior class, this value caps out at +2.</p>

    <h4>Survival</h4>
    <p>You have a {{derivedStat 'con' con 'systemShockChance' }}% chance to survive a shock to your system, and a {{derivedStat 'con' con 'resurrectionChance' }}% chance to survive resurrection.</p>

    <h4>Swimming</h4>
    <p>You can swim at a rate of {{../data.swim.speed}}ft per round, and can swim for {{../data.swim.roundsBeforeChecks}} rounds before starting to drown. Once you begin to drown, your Constitution roll penalty is {{../data.swim.conPenalty}}.</p>
    <p>Additionally, you can hold your breath for {{../data.swim.roundsOfHeldBreath}} round(s).</p>
    <p>This is affected by your total carried weight and worn armor.</p>
  </div>

  <div class="derived-stat derived-stat--cha"></div>
    <h3>Charisma ({{cha}})</h3>

    <h4>Henchpeople</h4>
    <p>You can have {{derivedStat 'cha' cha 'henchpeopleMax' }} henchpeople, and give your henchpeople and followers a {{signedString (derivedStat 'cha' cha 'modMorale') }} modifier to Morale</p>
  </div>
{{/with}}