<div class="stat-region stat-region--hp">
  <h2>HP</h2>

  <div class="configuration__field configuration__field--can-autocalculate-hp">
      <label for="canAutocalculateHP">Auto-Calculate</label>
      <input
        name="system.canAutocalculateHP"
        type="checkbox"
        {{checked data.canAutocalculateHP}} />
    </div>

  <div class="configuration__field configuration__field--hit-dice">
    <label for="hitDice">Base Hit Dice</label>
    <input
      name="system.hitDice"
      value="{{data.hitDice}}"
      type="text"
      data-dtype="Number" />
  </div>

  {{#if data.canAutocalculateHP}}
    <div class="configuration__field configuration__field--hit-dice">
      <label for="hitDieSize">Hit Die Size</label>
      <select name="system.hitDieSize" data-dtype="Number">
        {{#select data.hitDieSize}}
          {{#each hitDieSizes as |size key|}}
            <option value="{{key}}">d{{size}}</option>
          {{/each}}
        {{/select}}
      </select>
    </div>

    <div class="configuration__field configuration__field--hit-dice-bonus">
      <label for="hitDiceBonus">HP Bonus</label>
      <input
        name="system.hitDiceBonus"
        value="{{data.hitDiceBonus}}"
        type="text"
        data-dtype="Number" />
    </div>
  {{/if}}

  <div class="configuration__field configuration__field--variant">
    <label for="variant">Variant</label>
    <select name="system.variant" data-dtype="String">
      <option value="">None</option>
      {{#select data.variant}}
        {{#each variants as |variant key|}}
          <option value="{{key}}">{{variant.name}} (+{{variant.hitDice}}HD)</option>
        {{/each}}
      {{/select}}
    </select>
  </div>
</div>

<div class="stat-region stat-region--xp">
  <h2>
    <span>XP</span>
    {{#if data.canAutocalculateXP}}
      <span>{{data.calculatedXP}}</span>
    {{/if}}
  </h2>

  <div class="configuration__field configuration__field--can-autocalculate-xp">
    <label for="canAutocalculateXP">Auto-Calculate</label>
    <input
      name="system.canAutocalculateXP"
      type="checkbox"
      {{checked data.canAutocalculateXP}} />
  </div>

  {{#unless data.canAutocalculateXP}}
    <div class="configuration__field configuration__field--xp">
      <label for="xp">XP</label>
      <input
        name="system.xp"
        value="{{data.xp}}"
        type="text"
        data-dtype="Number" />
    </div>
  {{else}}
    <div class="configuration__field configuration__field--has-special-ability">
      <label for="hasSpecialAbility">Has Special Ability?</label>
      <input
        name="system.hasSpecialAbility"
        type="checkbox"
        {{checked data.hasSpecialAbility}} />
    </div>

    <div class="configuration__field configuration__field--is-exceptional">
      <label for="isExceptional">Is Exceptional?</label>
      <input
        name="system.isExceptional"
        type="checkbox"
        {{checked data.isExceptional}} />
    </div>
  {{/unless}}
</div>

<div class="stat-region stat-region--configuration">
  <h2>Configuration</h2>
  <div class="configuration__field configuration__field--size">
    <label for="size">Size</label>
    <select name="system.size" data-dtype="String">
      {{#select data.size}}
        {{#each sizes as |size key|}}
          <option value="{{key}}">{{size}}</option>
        {{/each}}
      {{/select}}
    </select>
  </div>

  <div class="configuration__field configuration__field--alignment">
    <label for="alignment">Alignment</label>
    <select name="system.alignment" data-dtype="String">
      <option value="">Unaligned</option>
      {{#select data.alignment}}
        {{#each alignments as |alignment key|}}
          <option value="{{key}}">{{alignment}}</option>
        {{/each}}
      {{/select}}
    </select>
  </div>

  <div class="configuration__field configuration__field--alignment">
    <label for="senses.infravision">Base Infravision</label>
    <input
      name="system.senses.infravision"
      value="{{data.senses.infravision}}"
      type="number"
      data-dtype="Number" />
  </div>

  <div class="configuration__field configuration__field--alignment">
    <label for="senses.blindvision">Base Blindvision</label>
    <input
      name="system.senses.blindvision"
      value="{{data.senses.blindvision}}"
      type="number"
      data-dtype="Number" />
  </div>

  <div class="configuration__field configuration__field--perception-mod">
    <label for="perceptionMod">Perception Mod</label>
    <input
      name="system.perceptionMod"
      value="{{data.perceptionMod}}"
      type="number"
      data-dtype="Number" />
  </div>
</div>