<div class="stat-region stat-region--saves">
  <h2>{{localize 'SHEET.saves'}}</h2>
  <ul class="quick-access__saves saves-list">
    {{#each saves as |save key|}}
      <li
        class="saves-list__item rollable rollable--no-icon"
        data-label="{{localize (concat 'SHEET.save.' key)}}"
        data-roll-type="Save"
        data-target="{{save}}"
        data-roll="1d20{{signedString (lookup ../saveMods key)}}">
        <h4 class="saves-list__name">
          {{{localize (concat 'SHEET.save.' key)}}}
        </h4>
        <div class="saves-list__score">
          {{localize 'SHEET.listheadings.saves.target'}}: {{save}}
        </div>
        <div class="saves-list__modifier">
          ({{signedString (lookup ../saveMods key)}})
        </div>
      </li>
    {{/each}}
    <li class="saves-list__item">
      <div
        class="saves-list__name rollable rollable--no-icon"
        data-label="Morale"
        data-roll-type="Save"
        data-target="{{data.morale}}"
        data-roll="1d20">
        <h4 class="saves-list__name">Morale</h4>
      </div>
      <div class="saves-list__score">
        {{localize 'SHEET.listheadings.saves.target'}}: {{data.morale}}
      </div>
    </li>
  </ul>
  {{#if (ne (derivedStat 'wis' data.attributes.wis 'modMentalSave') 0)}}
    <p>Reminder: you have a {{signedString (derivedStat 'wis' data.attributes.wis 'modMentalSave')}} to mental saves.</p>
  {{/if}}
</div>

<div class="quick-access__equipment">
  {{#if weapons.length}}
    <h2>
      <span>Attacks</span>
      {{#if data.attacks}}
        <span>({{data.attacks}})</span>
      {{/if}}
    </h2>
    <ul class="equipped-list">
    {{#each weapons}}
      <li
        data-item-id="{{_id}}"
        data-roll-type="item"
        data-label="{{item.name}}"
        class="equipped-tile {{#if (equals type "weapon")}}rollable rollable--no-icon{{/if}}"
      >
        <img src="{{this.img}}" />
        <span>
          {{name}}
        </span>
      </li>
    {{/each}}
    </ul>
  {{/if}}
</div>

<div class="stat-region stat-region--defenses">
  <h2>Defenses</h2>

  <div class="configuration__field configuration__field--specialDefenses">
    <label for="data.specialDefenses">Special Defenses</label>
    <input
      name="system.specialDefenses"
      value="{{data.specialDefenses}}"
      type="text"
      data-dtype="String" />
  </div>

  <div class="configuration__field configuration__field--magic-resistance">
    <label for="data.magicResistance">Magic Resistance</label>
    <input
      name="system.magicResistance"
      value="{{data.magicResistance}}"
      type="text"
      data-dtype="String" />
  </div>
</div>

<div class="stat-region stat-region--move">
  <h2 class="action-header">
    <span>Movement Options</span>
    <button type="button"  data-action="add-npc-move">
      <i class="fa fa-plus">
        <span class="sr-only">Add a new move option</span>
      </i>
    </button>
  </h2>
  <ul class="move-options">
    {{#each data.move as |move key|}}
      <li class="move-option">
        <select name="system.move.{{key}}.type" data-dtype="String">
          {{#select move.type}}
            {{#each ../moveTypes as |type key|}}
              <option value="{{key}}">{{type}}</option>
            {{/each}}
          {{/select}}
        </select>

        <input
          name="system.move.{{key}}.distance"
          value="{{move.distance}}"
          type="number"
          data-dtype="Number" />

        <button
          type="button"
          data-action="delete-npc-move"
          data-index={{key}}>
          <i class="fa fa-trash">
            <span class="sr-only">Delete this move option</span>
          </i>
        </button>
      </li>
    {{/each}}
  </ul>
</div>

{{#if data.monsterVariant}}
  <div class="stat-region stat-region--variant">
    <h2>Variant: {{data.monsterVariant.name}}</h2>
    <ul>
      <li>+{{data.monsterVariant.hitDice}} HD</li>
      <li>{{data.monsterVariant.description}}</li>
    </ul>
  </div>
{{/if}}

<div class="stat-region stat-region--quantities">
  <h2>Quantities</h2>
  <div class="configuration__field configuration__field--number-appearing">
    <label for="data.numberAppearing">Number Appearing</label>
    <input
      name="system.numberAppearing"
      value="{{data.numberAppearing}}"
      type="text"
      data-dtype="String" />
  </div>

  <div class="configuration__field configuration__field--number-in-lair">
    <label for="data.numberAppearing">Number In Lair</label>
    <input
      name="system.numberInLair"
      value="{{data.numberInLair}}"
      type="text"
      data-dtype="String" />
  </div>
</div>