<header class="sheet-header npc-header">
  <div class="sheet-header__container">
    <input
      class="name"
      name="name"
      type="text"
      value="{{actor.name}}"
      placeholder="Name"/>
      
    <select name="system.type" data-dtype="string">
      {{#select actor.system.type}}
        {{#each monsterTypes as |name key|}}
          <option value="{{key}}">{{name}}</option>
        {{/each}}
      {{/select}}
    </select>

    <div class="hp">
      <label 
        for="hp.value"
        class="hp__label"
        title="HP: {{actor.system.hp.value}}/{{actor.system.hp.max}}
({{actor.system.calculatedHitDice}}d{{actor.system.hitDieSize}}{{#if actor.system.hitDiceBonus}}+{{actor.system.hitDiceBonus}}{{/if}})">
        <i class="fa fa-heart">
          <span class="sr-only">
            {{localize "SHEET.hp"}}
          </span>
        </i>
      </label>

      {{#if actor.system.canAutocalculateHP}}
        {{#if actor.isToken}}
          <input
            class="min-hp"
            type="number"
            name="system.hp.value"
            value="{{actor.system.hp.value}}"
            max="{{actor.system.hp.max}}"
            data-dtype="Number"/>
          <span>/</span>
          <input
            type="number"
            name="system.hp.max"
            min="{{actor.system.hp.value}}"
            value="{{actor.system.hp.max}}"
            data-dtype="Number" />
        {{else}}
          <input
            type="text"
            readonly
            value="{{actor.system.calculatedHitDice}}d{{actor.system.hitDieSize}}" />
        {{/if}}
      {{else}}
        <input
            type="number"
            class="min-hp"
            name="system.hp.value"
            value="{{actor.system.hp.value}}"
            max="{{actor.system.hp.max}}"
            data-dtype="Number"/>
          <span>/</span>
          <input
            type="number"
            name="system.hp.max"
            min="{{actor.system.hp.value}}"
            value="{{actor.system.hp.max}}"
            data-dtype="Number" />
      {{/if}}
      
      
    </div>

    <div class="ac">
      <label 
        for="system.ac"
        class="ac__label">
        <i class="fa fa-shield-alt">
          <span class="sr-only">
            {{localize "SHEET.ac"}}
          </span>
        </i>
      </label>
      <input
        type="number"
        name="system.ac"
        value="{{actor.system.ac}}"
        readonly
        data-dtype="Number"/>
    </div>

    <div class="xp">
      <label 
        for="system.displayedXP"
        class="xp__label">
        <i class="fa fa-level-up-alt">
          <span class="sr-only">
            {{localize "SHEET.xp"}}
          </span>
        </i>
      </label>
      <input
        type="number"
        name="system.displayedXP"
        value="{{actor.system.displayedXP}}"
        readonly
        data-dtype="Number"/>
    </div>
  </div>
</header>