<header class="sheet-header npc-header">
  <div class="sheet-header__container">
    <input
      class="name"
      name="name"
      type="text"
      value="{{actor.name}}"
      placeholder="Name"/>
      
    <select name="data.type" data-dtype="string">
      {{#select data.type}}
        {{#each monsterTypes as |name key|}}
          <option value="{{key}}">{{name}}</option>
        {{/each}}
      {{/select}}
    </select>
    
    <div class="hp">
      <label 
        for="data.hp.value"
        class="hp__label">
        <i class="fa fa-heart">
          <span class="sr-only">
            {{localize "SHEET.hp"}}
          </span>
        </i>
      </label>
      
      <input
        type="number"
        name="data.hp.value"
        value="{{data.hp.value}}"
        max="{{data.hp.max}}"
        data-dtype="Number"/>
      <span>/</span>
      <input
        type="number"
        name="data.hp.max"
        min="{{data.hp.value}}"
        value="{{data.hp.max}}"
        data-dtype="Number" />
    </div>

    <div class="ac">
      <label 
        for="ac"
        class="ac__label">
        <i class="fa fa-shield-alt">
          <span class="sr-only">
            {{localize "SHEET.ac"}}
          </span>
        </i>
      </label>
      <input
        type="number"
        name="ac"
        value="{{data.ac}}"
        readonly
        data-dtype="Number"/>
    </div>
  </div>
</header>