<form class="{{cssClass}}" autocomplete="off">
  {{> (partial "item/parts/item-header.hbs") }}

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="effects">Effects</a>
    <a class="item" data-tab="configuration">
      <i class="fa fa-cog">
        <span class="sr-only">Configuration</span>
      </i>
    </a>
  </nav>

  {{!-- Sheet Body --}}
  <main class="sheet-body">
    {{!-- Attributes Tab --}}
    <div class="tab sheet-tab sheet-tab--attributes" data-group="primary" data-tab="attributes">
      <div class="attributes">
        <section class="item-attributes">
          {{> (partial "item/parts/item-value.hbs") hasXP=true }}
        </section>

        <section class="item-description">
          <div class="item-attributes__group item-attributes__group--damage">

            <h2>Damage</h2>

            <div class="damage-container">
              {{> (partial "item/parts/item-attribute.hbs")
                key="system.damage"
                value=item.system.damage
                label="Damage"
                type="text"
                dataType="String"
                compact=true
              }}

              <div class="item-attributes__item item-attributes__item--compact">
                <label for="damageType">Type</label>
                <select
                  data-dtype="String"
                  name="system.damageType">
                  {{selectOptions damageTypes
                    selected=item.system.damageType
                  }}
                </select>
              </div>
            </div>

            <h2>Modifiers</h2>

            <div class="modifier-container">
              {{> (partial "item/parts/item-attribute.hbs")
                key="system.modDamage"
                value=item.system.modDamage
                label="Damage"
                type="number"
                dataType="Number"
                compact=true
              }}

              {{> (partial "item/parts/item-attribute.hbs")
                key="system.modToHit"
                value=item.system.modToHit
                label="To Hit"
                type="number"
                dataType="Number"
                compact=true
              }}

              {{> (partial "item/parts/item-attribute.hbs")
                key="system.speedFactor"
                value=item.system.speedFactor
                label="Speed Factor"
                type="number"
                dataType="Number"
                compact=true
              }}
            </div>
          </div>

          <div class="item-attributes__group">
            <h2>Range</h2>

            {{#unless (equals item.system.weaponType "ammunition")}}
              {{#unless (equals item.system.weaponType "ranged")}}
                {{> (partial "item/parts/item-attribute.hbs")
                  key="system.reach"
                  value=item.system.reach
                  label="Reach (ft)"
                  type="number"
                  dataType="Number"
                  compact=true
                }}
              {{/unless}}

              {{#unless (equals item.system.weaponType "melee")}}
                {{> (partial "item/parts/item-attribute.hbs")
                  key="system.range"
                  value=item.system.range
                  label="Range (ft)"
                  type="number"
                  dataType="Number"
                  compact=true
                }}
              {{/unless}}
            {{/unless}}
          </div>

          <div class="item-attributes__group">
            <h2>Weapon Qualities</h2>

            <div class="quality-container">
              <div class="item-attributes__item item-attributes__item--compact">
                <label for="light">Light</label>
                <input
                  name="system.light"
                  type="checkbox"
                  {{checked item.system.light}} />
              </div>
              <div class="item-attributes__item item-attributes__item--compact">
                <label for="versatile">+1 damage with two hands</label>
                <input
                  name="system.versatile"
                  type="checkbox"
                  {{checked item.system.versatile}} />
              </div>
              <div class="item-attributes__item item-attributes__item--compact">
                <label for="twoHanded">Two Handed</label>
                <input
                  name="system.twoHanded"
                  type="checkbox"
                  {{checked item.system.twoHanded}} />
              </div>
              <div class="item-attributes__item item-attributes__item--compact">
                <label for="silvered">Silvered</label>
                <input
                  name="system.silvered"
                  type="checkbox"
                  {{checked item.system.silvered}} />
              </div>
              <div class="item-attributes__item item-attributes__item--compact">
                <label for="magical">Magical</label>
                <input
                  name="system.magical"
                  type="checkbox"
                  {{checked item.system.magical}} />
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    {{!-- Description Tab --}}
    <div class="tab sheet-tab sheet-tab--description" data-group="primary" data-tab="description">
      <h2>Description</h2>
      {{editor item.system.description
        target="system.description"
        rollData=rollData
        button=true
        owner=owner
        editable=editable
      }}
    </div>

    {{!-- Effects Tab --}}
    <div class="tab sheet-tab sheet-tab--effects" data-group="primary" data-tab="effects">
      {{> (partial "item/parts/item-effects.hbs") }}
    </div>

    {{!-- Configuration Tab --}}
    <div class="tab sheet-tab sheet-tab--configuration" data-group="primary" data-tab="configuration">
      {{> (partial "item/configuration/weapon.hbs")}}
    </div>
  </main>
</form>
