<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="sheet-header__container">
      <img
        class="profile-img"
        src="{{item.img}}"
        data-edit="img"
        title="{{item.name}}"/>
      <input
        class="name"
        name="name"
        type="text"
        value="{{item.name}}"
        placeholder="Name"/>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">Levels</a>
    <a class="item" data-tab="configuration">
      <i class="fa fa-cog">
        <span class="sr-only">Configuration</span>
      </i>
    </a>
  </nav>

  {{!-- Sheet Body --}}
  <main class="sheet-body">
    {{!-- Attributes Tab --}}
    <div class="tab sheet-tab sheet-tab--level-table" data-group="primary" data-tab="attributes">
      <ul class="level-table">
        <li class="level-table-row level-table-row--header level-table-row--category-header">
          <span class="level-table-dataset level-table-dataset--saves">Saves</span>
          <span class="level-table-dataset level-table-dataset--hp">HP</span>
        </li>

        <li class="level-table-row level-table-row--header">
          <span class="level-table-dataset level-table-dataset--saves">
            <span class="level-table-cell level-table-cell--save">Reflex</span>
            <span class="level-table-cell level-table-cell--save">Poison</span>
            <span class="level-table-cell level-table-cell--save">Creature</span>
            <span class="level-table-cell level-table-cell--save">Spell</span>
          </span>
          <span class="level-table-dataset level-table-dataset--hp">
            <span class="level-table-cell level-table-cell--hit-dice">Hit Dice</span>
            <span class="level-table-cell level-table-cell--hit-dice">Con Mod?</span>
          </span>
          <span class="level-table-cell level-table-cell--mod">To Hit</span>
        </li>

        {{#each data.levels as |level key|}}
        <li class="level-table-row level-table-row--data">
          <span class="level-table-cell level-table-cell--level">{{key}}</span>

          <span class="level-table-dataset level-table-dataset--saves">
            <span class="level-table-cell level-table-cell--save">
              <input
                type="number"
                min="1"
                max="20"
                value={{level.saves.reflex}}
                name="{{concat "data.levels." key ".saves.reflex"}}" />
            </span>
            <span class="level-table-cell level-table-cell--save">
              <input
                type="number"
                min="1"
                max="20"
                value={{level.saves.poison}}
                name="{{concat "data.levels." key ".saves.poison"}}" />
            </span>
            <span class="level-table-cell level-table-cell--save">
              <input
                type="number"
                min="1"
                max="20"
                value={{level.saves.creature}}
                name="{{concat "data.levels." key ".saves.creature"}}" />
            </span>
            <span class="level-table-cell level-table-cell--save">
              <input
                type="number"
                min="1"
                max="20"
                value={{level.saves.spell}}
                name="{{concat "data.levels." key ".saves.spell"}}" />
            </span>
          </span>

          <span class="level-table-dataset level-table-dataset--hp">
            <span class="level-table-cell level-table-cell--hit-dice">
              <input
                type="text"
                readonly
                value="{{level.hitDieCount}}d{{../data.hitDieSize}}+{{level.hitDieMod}}" />
            </span>
            <span class="level-table-cell level-table-cell--hit-dice level-table-cell--has-con-mod">
              {{#if level.addsFullConModToHP}}
                &check;
              {{/if}}
            </span>
          </span>

          <span class="level-table-cell level-table-cell--mod">
            <input
              type="number"
              min="1"
              max="20"
              value={{level.modToHit}}
              name="{{concat "data.levels." key ".modToHit"}}" />
          </span>
        </li>
        {{/each}}
      </ul>
    </div>

    {{!-- Configuration Tab --}}
    <div class="tab sheet-tab sheet-tab--configuration" data-group="primary" data-tab="configuration">
      {{> (partial "item/configuration/classgroup.hbs") }}
    </div>
  </section>
</form>
