<form class="{{cssClass}}" autocomplete="off">
  {{> (partial "item/parts/item-header.hbs") }}

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="effects">Effects</a>
    <a class="item" data-tab="configuration">
      <i class="fa fa-cog">
        <span class="sr-only">Configuration</span>
      </i>
    </a>
  </nav>

  {{!-- Sheet Body --}}
  <main class="sheet-body">
    {{!-- Attributes Tab --}}
    <div class="tab sheet-tab sheet-tab--attributes" data-group="primary" data-tab="attributes">
      <div class="attributes">
        <section class="item-attributes">
          {{> (partial "item/parts/item-value.hbs") hasXP=true }}
        </section>

        <section class="item-description">
          <div class="item-attributes__group item-attributes__group--damage">

            <h2>Damage</h2>

            <div class="damage-container">
              {{> (partial "item/parts/item-attribute.hbs")
                key="data.damage"
                value=data.damage
                label="Damage"
                type="text"
                dataType="String"
                compact=true
              }}

              <div class="item-attributes__item item-attributes__item--compact">
                <label for="data.damageType">Type</label>
                <select
                  data-dtype="String"
                  name="system.damageType">
                  {{#select data.damageType}}
                  <option value="Slashing">Slashing</option>
                  <option value="Piercing">Piercing</option>
                  <option value="Bludgeoning">Bludgeoning</option>
                  {{/select}}
                </select>
              </div>
            </div>

            <h2>Modifiers</h2>

            <div class="modifier-container">
              {{> (partial "item/parts/item-attribute.hbs")
                key="data.modDamage"
                value=data.modDamage
                label="Damage"
                type="number"
                dataType="Number"
                compact=true
              }}

              {{> (partial "item/parts/item-attribute.hbs")
                key="data.modToHit"
                value=data.modToHit
                label="To Hit"
                type="number"
                dataType="Number"
                compact=true
              }}

              {{> (partial "item/parts/item-attribute.hbs")
                key="data.speedFactor"
                value=data.speedFactor
                label="Speed Factor"
                type="number"
                dataType="Number"
                compact=true
              }}
            </div>
          </div>

          <div class="item-attributes__group">
            <h2>Range</h2>

            {{#unless (equals data.weaponType "ammunition")}}
              {{#unless (equals data.weaponType "ranged")}}
                {{> (partial "item/parts/item-attribute.hbs")
                  key="data.reach"
                  value=data.reach
                  label="Reach (ft)"
                  type="number"
                  dataType="Number"
                  compact=true
                }}
              {{/unless}}

              {{#unless (equals data.weaponType "melee")}}
                {{> (partial "item/parts/item-attribute.hbs")
                  key="data.range"
                  value=data.range
                  label="Range (ft)"
                  type="number"
                  dataType="Number"
                  compact=true
                }}
              {{/unless}}
            {{/unless}}
          </div>

          <div class="item-attributes__group">
            <h2>Weapon Qualities</h2>

            <div class="quality-container">
              <div class="item-attributes__item item-attributes__item--compact">
                <label for="data.light">Light</label>
                <input
                  name="system.light"
                  type="checkbox"
                  {{checked data.light}} />
              </div>
              <div class="item-attributes__item item-attributes__item--compact">
                <label for="data.versatile">+1 damage with two hands</label>
                <input
                  name="system.versatile"
                  type="checkbox"
                  {{checked data.versatile}} />
              </div>
              <div class="item-attributes__item item-attributes__item--compact">
                <label for="data.twoHanded">Two Handed</label>
                <input
                  name="system.twoHanded"
                  type="checkbox"
                  {{checked data.twoHanded}} />
              </div>
              <div class="item-attributes__item item-attributes__item--compact">
                <label for="data.silvered">Silvered</label>
                <input
                  name="system.silvered"
                  type="checkbox"
                  {{checked data.silvered}} />
              </div>
              <div class="item-attributes__item item-attributes__item--compact">
                <label for="data.magical">Magical</label>
                <input
                  name="system.magical"
                  type="checkbox"
                  {{checked data.magical}} />
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    {{!-- Description Tab --}}
    <div class="tab sheet-tab sheet-tab--description" data-group="primary" data-tab="description">
      <h2>Description</h2>
      {{editor data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Effects Tab --}}
    <div class="tab sheet-tab sheet-tab--effects" data-group="primary" data-tab="effects">
      {{> (partial "item/parts/item-effects.hbs") }}
    </div>

    {{!-- Configuration Tab --}}
    <div class="tab sheet-tab sheet-tab--configuration" data-group="primary" data-tab="configuration">
      {{> (partial "item/configuration/weapon.hbs")}}
    </div>
  </main>
</form>
