<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="sheet-header__container">
      <img
        class="profile-img inset"
        src="{{item.img}}"
        data-edit="img"
        title="{{item.name}}"/>
      <input
        class="name"
        name="name"
        type="text"
        value="{{item.name}}"
        placeholder="Name"/>
      <div class="allowed-class">
        <select
          data-dtype="String"
          name="system.class">
          {{#select item.system.class }}
            {{#each castingClasses as |class classkey|}}
              <option value="{{classkey}}">{{class}}</option>
            {{/each}}
          {{/select}}
        </select>
        <input
          type="number"
          data-dtype="Number"
          name="system.level"
          value="{{item.system.level}}" />
      </div>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <main class="sheet-body">
    <div class="attributes">
      <section class="item-attributes">
        <div class="item-attributes__group">
          <h2>Spell Details</h2>
          <div class="item-attributes__item">
            <label for="system.school">School</label>
            <select
              data-dtype="String"
              name="system.school">
              {{#select item.system.school}}
                {{#each spellSchools as |school key|}}
                  <option value="{{key}}">{{school}}</option>
                {{/each}}
              {{/select}}
            </select>
          </div>

          {{> (partial "item/parts/item-attribute.hbs")
            key="system.range"
            value=item.system.range
            label="Range (ft)"
            type="text"
            dataType="String"
          }}

          {{> (partial "item/parts/item-attribute.hbs")
            key="system.duration"
            value=item.system.duration
            label="Duration"
            type="text"
            dataType="String"
          }}

          {{> (partial "item/parts/item-attribute.hbs")
            key="system.areaOfEffect"
            value=item.system.areaOfEffect
            label="Area of Effect"
            type="text"
            dataType="String"
          }}

          {{> (partial "item/parts/item-attribute.hbs")
            key="system.castingTime"
            value=item.system.castingTime
            label="Casting Time"
            type="text"
            dataType="String"
          }}
        </div>
      </section>

      <section class="item-description">
        <h2>Components</h2>
        <div class="item-attributes item-attributes--components">
          <div class="item-attributes__item item-attributes__item--compact">
            <label for="hasVerbalComponent">Verbal</label>
            <input
              name="system.hasVerbalComponent"
              type="checkbox"
              {{checked item.system.hasVerbalComponent}} />
          </div>

          <div class="item-attributes__item item-attributes__item--compact">
            <label for="hasSomaticComponent">Somatic</label>
            <input
              name="system.hasSomaticComponent"
              type="checkbox"
              {{checked item.system.hasSomaticComponent}} />
          </div>

          <div class="item-attributes__item item-attributes__item--compact">
            <label for="hasMaterialComponent">Material</label>
            <input
              name="system.hasMaterialComponent"
              type="checkbox"
              {{checked item.system.hasMaterialComponent}} />
          </div>
        </div>
        

        <h2>Description</h2>
        {{editor item.system.description
          target="system.description"
          rollData=rollData
          button=true
          owner=owner
          editable=editable
        }}
      </section>
    </div>
  </main>
</form>
