<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="sheet-header__container">
      <img
        class="profile-img"
        src="{{item.img}}"
        data-edit="img"
        title="{{item.name}}"/>
      <input
        class="name"
        name="name"
        type="text"
        value="{{item.name}}"
        placeholder="Name"/>
      <div class="header-xp">
        <div class="item-attributes__range">
          <label for="data.classGroup">XP</label>
          <div class="item-attributes__item-range">
            <input
              type="number"
              value="{{data.xp}}"
              data-dtype="Number"
              name="system.xp" />
            <span class="item-attributes__item-range-separator">/</span>
            <input
              type="number"
              value="{{xpToNextLevel}}"
              data-dtype="Number"
              name="xpToNextLevel"
              readonly />
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="features">Features</a>
    {{#if data.classGroup}}
      <a class="item" data-tab="levels">Levels</a>
    {{/if}}
    {{#if data.hasSkills}}
      <a class="item" data-tab="skills">Skills</a>
    {{/if}}
    {{#if data.hasSpellcasting}}
      <a class="item" data-tab="spellcasting">Spellcasting</a>
    {{/if}}
    <a class="item" data-tab="effects">Effects</a>
    <a class="item" data-tab="configuration">
      <i class="fa fa-cog">
        <span class="sr-only">Configuration</span>
      </i>
    </a>
  </nav>

  {{!-- Sheet Body --}}
  <main class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab sheet-tab sheet-tab--description" data-group="primary" data-tab="description">
      <h2>Description</h2>
      {{editor data.description
        target="data.description"
        rollData=rollData
        button=true
        owner=owner
        editable=editable
      }}
    </div>

    {{!-- Skills Tab --}}
    <div class="tab sheet-tab sheet-tab--skills" data-group="primary" data-tab="skills">
      <div class="features__header">
        <h2 class="action-header">
          <span>Class Skills</span>
          <button type="button" class="skill__add">
            <i class="fa fa-plus">
              <span class="sr-only">Add Skill</span>
            </i>
          </button>
        </h2>
      </div>

      <div class="skills__list">
        <li class="skills__row skills__row--header">
          <div class="skills__cell">Name</div>
          <div class="skills__cell">Attribute</div>
          <div class="skills__cell">Bonus</div>
          <div class="skills__cell">Actions</div>
        </li>
        {{#each data.skills as |skill key|}}
          <li class="skills__row skill" data-item-id="{{key}}">
            <div class="skills__cell">
              {{> (partial "item/parts/item-attribute.hbs")
                key=(concat "data.skills." key ".name")
                value=skill.name
                type="text"
                dataType="String"
              }}
            </div>
            <div class="skills__cell">
              <select name="system.skills.{{key}}.attribute" data-dtype="string">
                {{#select skill.attribute}}
                  {{#each ../skillAttributes as |attribute attrkey|}}
                    <option value="{{attrkey}}">{{localize attribute}}</option>
                  {{/each}}
                {{/select}}
              </select>
            </div>
            <div class="skills__cell">
              {{> (partial "item/parts/item-attribute.hbs")
                key=(concat "data.skills." key ".bonus")
                value=skill.bonus
                type="number"
                dataType="Number"
              }}
            </div>
            <div class="skills__cell">
              <button type="button" class="skill__delete">
                <i class="fa fa-trash">
                  <span class="sr-only">Delete Feature</span>
                </i>
              </button>
            </div>
          </li>
        {{/each}}
      </div>
    </div>

    {{!-- Configuration Tab --}}
    <div class="tab sheet-tab sheet-tab--configuration" data-group="primary" data-tab="configuration">
      {{> (partial "item/configuration/class.hbs")}}
    </div>

    {{!-- Features Tab --}}
    <div class="tab sheet-tab sheet-tab--features" data-group="primary" data-tab="features">
      <div class="features__header">
        <h2 class="action-header">
          <span>Class Features</span>
          <button type="button" class="feature__add">
            <i class="fa fa-plus">
              <span class="sr-only">Add Feature</span>
            </i>
          </button>
        </h2>
      </div>

      <div class="features__list">
        {{#each data.features as |feature key|}}
          {{> (partial 'item/parts/class-feature.hbs')
            key=key
            rollData=../rollData
            owner=../owner
            editable=../editable
          }}
        {{/each}}
      </div>
    </div>

    {{!-- Saves Tab --}}
    <div class="tab sheet-tab sheet-tab--levels" data-group="primary" data-tab="levels">
      <ul class="level-table">
        <li class="level-table-row level-table-row--header level-table-row--category-header">
          <span class="level-table-dataset level-table-dataset--saves">Saves</span>
          <span class="level-table-dataset level-table-dataset--hp">HP</span>
        </li>

        <li class="level-table-row level-table-row--header">
          <span class="level-table-dataset level-table-dataset--saves">
            <span class="level-table-cell level-table-cell--save">Reflex</span>
            <span class="level-table-cell level-table-cell--save">Poison</span>
            <span class="level-table-cell level-table-cell--save">Creature</span>
            <span class="level-table-cell level-table-cell--save">Spell</span>
          </span>
          <span class="level-table-dataset level-table-dataset--hp">
            <span class="level-table-cell level-table-cell--hit-dice">Hit Dice</span>
            <span class="level-table-cell level-table-cell--hit-dice">Con Mod?</span>
          </span>
          <span class="level-table-cell level-table-cell--mod">To Hit</span>
        </li>

        {{#each classGroupAll.levels as |level key|}}
          {{> (partial 'item/parts/class-levels.hbs')
            level=level
            key=key
          }}
        {{/each}}
      </ul>
    </div>

    {{!-- Spellcasting Tab --}}
    <div class="tab sheet-tab sheet-tab--spellcasting" data-group="primary" data-tab="spellcasting">
      {{#if data.hasSpellPoints}}
        <ul class="spellcasting-table spellcasting-table--points">
          <li class="spellcasting-table__row spellcasting-table__row--header">
            <div class="spellcasting-table__cell spellcasting-table__cell--level">Level</div>
            <div class="spellcasting-table__cell">Spells Known</div>
            <div class="spellcasting-table__cell">Max Spell Level</div>
            <div class="spellcasting-table__cell">Max Spell Points</div>
          </li>
          {{#each data.spellPoints as |pointLevel key|}}
            {{#if (equals levelKey (concat ../level '')) }}
              <li class="spellcasting-table__row current-level">
            {{else}}
              <li class="spellcasting-table__row">
            {{/if}}
              <div class="spellcasting-table__cell spellcasting-table__cell--level">
                {{key}}
              </div>
              <div class="spellcasting-table__cell">
                <input
                  type="number"
                  data-dtype="Number"
                  name="system.spellSlots.{{key}}.spellsKnown"
                  value="{{pointLevel.spellsKnown}}" />
              </div>
              <div class="spellcasting-table__cell">
                <input
                  type="number"
                  data-dtype="Number"
                  name="system.spellSlots.{{key}}.maxSpellLevel"
                  value="{{pointLevel.maxSpellLevel}}" />
              </div>
              <div class="spellcasting-table__cell">
                <input
                  type="number"
                  data-dtype="Number"
                  name="system.spellSlots.{{key}}.maxSpellPoints"
                  value="{{pointLevel.maxSpellPoints}}" />
              </div>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <ul class="spellcasting-table">
          <li class="spellcasting-table__row spellcasting-table__row--header">
            <div class="spellcasting-table__cell spellcasting-table__cell--level">Level</div>
            {{#each data.spellSlots.[1] as |slots key|}}
              <div class="spellcasting-table__cell">{{key}}</div>
            {{/each}}
          </li>
          
          {{#each data.spellSlots as |level levelKey|}}
            {{#if (equals levelKey (concat ../level '')) }}
              <li class="spellcasting-table__row current-level">
            {{else}}
              <li class="spellcasting-table__row">
            {{/if}}
              <div class="spellcasting-table__cell spellcasting-table__cell--level">{{levelKey}}</div>
              {{#each level as |slotLevel slotLevelKey|}}
                <div class="spellcasting-table__cell">
                  <input
                    type="number"
                    data-dtype="Number"
                    name="system.spellSlots.{{levelKey}}.{{slotLevelKey}}"
                    value="{{slotLevel}}" />
                </div>
              {{/each}}
            </li>
          {{/each}}
        </ul>

      {{/if}}
    </div>

    {{!-- Effects Tab --}}
    <div class="tab sheet-tab sheet-tab--effects" data-group="primary" data-tab="effects">
      {{> (partial "item/parts/item-effects.hbs") }}
    </div>
  </section>
</form>
