<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="sheet-header__container">
      <img
        class="profile-img"
        src="{{item.img}}"
        data-edit="img"
        title="{{item.name}}"/>
      <input
        class="name"
        name="name"
        type="text"
        value="{{item.name}}"
        placeholder="Name"/>
      <div class="sheet-header__quantity">
        <label for="ac">
          <i class="fa fa-shield-alt">
            <span class="sr-only">
              {{localize "SHEET.ac"}}
            </span>
          </i>
        </label>
        <input
          name="system.ac"
          type="number"
          value="{{item.system.ac}}"
          placeholder="0"/>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="effects">Effects</a>
    <a class="item" data-tab="configuration">
      <i class="fa fa-cog">
        <span class="sr-only">Configuration</span>
      </i>
    </a>
  </nav>

  {{!-- Sheet Body --}}
  <main class="sheet-body">
    {{!-- Attributes Tab --}}
    <div class="tab sheet-tab sheet-tab--attributes" data-group="primary" data-tab="attributes">
      <div class="attributes">
        <section class="item-attributes">
          {{> (partial "item/parts/item-value.hbs") hasXP=true }}
        </section>

        <section class="item-description">
          <h2>Description</h2>
          {{editor item.system.description
            target="system.description"
            rollData=rollData
            button=true
            owner=owner
            editable=editable
          }}
        </section>
      </div>
    </div>

    {{!-- Effects Tab --}}
    <div class="tab sheet-tab sheet-tab--effects" data-group="primary" data-tab="effects">
      {{> (partial "item/parts/item-effects.hbs") }}
    </div>

    {{!-- Configuration Tab --}}
    <div class="tab sheet-tab sheet-tab--configuration" data-group="primary" data-tab="configuration">
      {{> (partial "item/configuration/armor.hbs") }}
    </div>
  </section>
</form>
