<div class="configuration">
  <section class="item-attributes">
    <div class="item-attributes__group">
      <h2>Configuration</h2>

      <div class="item-attributes__item item-attributes__item--compact">
        <label for="system.classGroup">Class Group</label>
        <select
          data-dtype="String"
          name="system.classGroup">
          {{#select item.system.classGroup}}
            <option value="warrior">{{localize "CLASSGROUP.warrior"}}</option>
            <option value="rogue">{{localize "CLASSGROUP.rogue"}}</option>
            <option value="arcane">{{localize "CLASSGROUP.arcane"}}</option>
            <option value="divine">{{localize "CLASSGROUP.divine"}}</option>
          {{/select}}
        </select>
      </div>

      {{> (partial "item/parts/item-attribute.hbs")
        key="system.statBonus"
        value=item.system.statBonus
        label="Stat Bonus"
        type="text"
        dataType="String"
        compact=true
      }}

      <div class="item-attributes__item item-attributes__item--compact">
        <label for="isPrimary">Character's primary class</label>
        <input
          type="checkbox"
          name="system.isPrimary"
          {{checked item.system.isPrimary}} />
      </div>

      <div class="item-attributes__item item-attributes__item--compact">
        <label for="isSelectedSaveTable">Use this class's save table</label>
        <input
          type="checkbox"
          name="system.isSelectedSaveTable"
          {{checked item.system.isSelectedSaveTable}} />
      </div>
    </div>

    <div class="item-attributes__group">
      <h2>Spellcasting</h2>

      <div class="item-attributes__item item-attributes__item--compact">
        <label for="hasSpellcasting">Has Spellcasting</label>
        <input
          type="checkbox"
          name="system.hasSpellcasting"
          {{checked item.system.hasSpellcasting}} />
      </div>

      {{#if item.system.hasSpellcasting}}
        <div class="item-attributes__item item-attributes__item--compact">
          <label for="hasSpellPoints">Uses Spell Points</label>
          <input
            type="checkbox"
            name="system.hasSpellPoints"
            {{checked item.system.hasSpellPoints}} />
        </div>

        <div class="item-attributes__item item-attributes__item--compact">
          <label for="hasFullSpellList">Already knows its full spell list</label>
          <input
            type="checkbox"
            name="system.hasFullSpellList"
            {{checked item.system.hasFullSpellList}} />
        </div>

        <div class="item-attributes__item item-attributes__item--compact">
          <label for="hasWisdomBonusSlots">Gets bonus slots from Wisdom</label>
          <input
            type="checkbox"
            name="system.hasWisdomBonusSlots"
            {{checked item.system.hasWisdomBonusSlots}} />
        </div>
      {{/if}}
    </div>

    <div class="item-attributes__group">
      <h2>Proficiencies</h2>
      {{> (partial "item/parts/item-attribute.hbs")
        key="system.weaponProf"
        value=item.system.weaponProf
        label="Weapons"
        type="text"
        dataType="String"
        compact=true
      }}

      {{> (partial "item/parts/item-attribute.hbs")
        key="system.armorProf"
        value=item.system.armorProf
        label="Armor"
        type="text"
        dataType="String"
        compact=true
      }}

      <div class="item-attributes__item item-attributes__item--compact">
        <label for="hasSkills">Has class skills</label>
        <input
          type="checkbox"
          name="system.hasSkills"
          {{checked item.system.hasSkills}} />
      </div>
    </div>

    <div class="item-attributes__group item-attributes__group--requirements">
      <h2>Requirements</h2>

      {{#each item.system.requirements as |requirement key|}}
        <div class="requirement">
          <label for="{{concat "system.requirement" key}}">{{localizeAttr key}}</label>
          <input
            type="number"
            data-dtype="Number"
            name="{{concat "system.requirements." key}}"
            value="{{requirement}}" />
        </div>
      {{/each}}
    </div>
  </section>
</div>