<section class="items">
  <div class="items__carry-weight">
    <label for="">Carry weight:</label>
    <input value="{{totalItemWeight}}" readonly /> / <input value="{{derivedStat "str" data.attributes.str "carryWeight"}}" readonly />
  </div>

  <h3>Weapons</h3>
  {{> "systems/chromatic-dungeons/templates/actor/parts/grids/actor-weapon-grid.hbs"}}

  <h3>Armor</h3>
  {{> "systems/chromatic-dungeons/templates/actor/parts/grids/actor-armor-grid.hbs"}}

  <h3>Gear</h3>
  {{> "systems/chromatic-dungeons/templates/actor/parts/grids/actor-gear-grid.hbs"}}

  <h3>Wealth</h3>
  {{> "systems/chromatic-dungeons/templates/actor/parts/grids/actor-wealth-grid.hbs"}}

  <h3>Currency</h3>
  <div class="items__currency">
    {{#each data.wealth as |value key|}}
      <div class="items__currency-item items__currency-item--{{key}}">
        <label for="data.wealth.{{key}}">{{key}}</label>
        <input
          type="number"
          data-dtype="Number"
          name="data.wealth.{{key}}"
          value={{value}} />
      </div>
    {{/each}}
  </div>
</section>