{{#if ancestry._id}}
  <h2 class="features__title">
    <span>
      Ancestry: {{ancestry.name}}
    </span>
    <span>
      <button type="button" data-item-id="{{ancestry._id}}" data-item-action="edit">
        <i class="fa fa-eye">
          <span class="sr-only">Examine Ancestry</span>
        </i>
      </button>
      <button type="button" data-item-id="{{ancestry._id}}" data-item-action="delete">
        <i class="fa fa-trash">
          <span class="sr-only">Remove Ancestry</span>
        </i>
      </button>
    </span>
  </h2>

  <ul class="features features--ancestry">
    {{#each ancestry.data.features as |feature|}}
      <li class="feature__item">{{feature}}</li>
    {{/each}}
  </ul>
{{/if}}

{{#if heritages.length}}
  <h2>Heritages</h2>

  {{#each heritages as |heritage|}}
    <h3 class="features__title">
      <span>{{heritage.name}}</span>
      <span>
        <button type="button" data-item-id="{{heritage._id}}" data-item-action="edit">
          <i class="fa fa-eye">
            <span class="sr-only">Examine Heritage</span>
          </i>
        </button>
        <button type="button" data-item-id="{{heritage._id}}" data-item-action="delete">
          <i class="fa fa-trash">
            <span class="sr-only">Remove Heritage</span>
          </i>
        </button>
      </span>
    </h3>

    <ul class="features features--heritage">
      {{#each heritage.data.features as |feature|}}
        <li class="feature__item">{{feature}}</li>
      {{/each}}
    </ul>
  {{/each}}
{{/if}}

{{#if classes.length}}
  <h2>Classes</h2>

  {{#each classes as |class|}}
    <h3 class="features__title">
      <span>Lv. {{class.level}} {{class.name}} ({{class.xp}}/{{class.xpNext}})</span>
      <span>
        <button type="button" data-item-id="{{class.id}}" data-item-action="edit">
          <i class="fa fa-eye">
            <span class="sr-only">Examine Heritage</span>
          </i>
        </button>
        <button type="button" data-item-id="{{class.id}}" data-item-action="delete">
          <i class="fa fa-trash">
            <span class="sr-only">Remove Heritage</span>
          </i>
        </button>
      </span>
    </h3>

    <ul class="features features--class">
      <li class="feature__item feature__item--header">
        <div class="feature__cell feature__cell--level">Lv.</div>
        <div class="feature__cell feature__cell--feature">Feature</div>
      </li>
      {{#each class.features as |feature featurekey|}}
        <li class="feature__item">
          <div class="feature__cell feature__cell--level">{{feature.level}}</div>
          <div class="feature__cell feature__cell--feature">
            <h4>{{feature.title}}</h4>
            {{{feature.content}}}
          </div>
        </li>
      {{/each}}
    </ul>
  {{/each}}
{{/if}}
