{{#each data.attributes as |attribute key|}}
  <div class="attributes__item">
    <input
      type="number"
      min="0"
      name="data.attributes.{{key}}"
      value="{{attribute}}"
      data-dtype="Number"/>
    <label
      class="rollable"
      for="data.attributes.{{key}}"
      data-roll-type="Attribute"
      data-roll="1d20"
      data-label="{{localizeAttr key}}">
      {{localizeAttr key}}
    </label>
  </div>
{{/each}}