<div
  name="{{label}}"
  class="item-attributes__item {{#if compact}}item-attributes__item--compact{{/if}} {{#if isRange}}item-attributes__item--range{{/if}}">
  {{#if label}}
    <label
      for="{{key}}" 
      {{optionalAttr "title" hoverLabel}}>
      {{localize label}}
    </label>
  {{/if}}

  {{#if isRange}}
    <div class="item-attributes__range">
      <input
        name="{{key}}.min"
        value="{{value.min}}"
        type="number"
        {{optionalAttr "data-dtype" type}} />  
      <span class="item-attributes__separator">-</span>
      <input
        name="{{key}}.max"
        value="{{value.max}}"
        type="number"
        {{optionalAttr "data-dtype" type}} />
    </div>
  {{else}}
    <input
      name="{{key}}"
      value="{{value}}"
      {{optionalAttr "type" type}}
      {{optionalAttr "data-dtype" dataType}} />
  {{/if}}
</div>