{{#each effects as |section sid|}}
  <div
    class="effects effects--{{section.type}}"
    data-effect-type="{{section.type}}">
    <h2 class="action-header">
      <span>{{localize section.label}}</span>
      {{#if ../editable}}
      <button
        type="button"
        class="effect-control"
        data-action="create"
        title="{{localize 'BOILERPLATE.EffectCreate'}}">
        <i class="fas fa-plus">
          <span class="sr-only">
            {{localize "BOILERPLATE.Add"}}
          </span>
        </i>
      </button>
      {{/if}}
    </h2>

    <ul class="effects-list">
      <li class="effects-list__list-item effects-list__list-item--header">
        <div class="effects-list__name">Name</div>
        <div class="effects-list__source">Source</div>
        <div class="effects-list__duration">Duration</div>
      </li>
      {{#each section.effects as |effect|}}
        <li
          data-effect-id="{{effect.id}}"
          class="effects-list__list-item">
          <div class="effects-list__icon">
            <img
              class="item-image"
              src="{{effect.icon}}"/>
          </div>
          <div class="effects-list__name">{{effect.label}}</div>
          <div class="effects-list__source">{{effect.sourceName}}</div>
          <div class="effects-list__duration">{{effect.duration.label}}</div>
          {{#if ../../editable}}
          <div class="effects-list__controls">
            <button
              type="button"
              class="effect-control"
              data-action="toggle"
              title="{{localize 'BOILERPLATE.EffectToggle'}}">
              <i class="fas {{#if effect.disabled}}fa-check{{else}}fa-times{{/if}}"></i>
            </button>
            <button
              type="button"
              class="effect-control"
              data-action="edit"
              title="{{localize 'BOILERPLATE.EffectEdit'}}">
              <i class="fas fa-edit"></i>
            </button>
            <button
              type="button"
              class="effect-control"
              data-action="delete"
              title="{{localize 'BOILERPLATE.EffectDelete'}}">
              <i class="fas fa-trash"></i>
            </button>
          </div>
          {{/if}}
        </li>
      {{else}}
        <li class="effects-list__list-item effects-list__list-item--empty">
          <span>No applied effects</span> 
        </li>
      {{/each}}
    </ul>
  </div>
{{/each}}
