<ul class="items__list items__list--wealth">
  <li class="items__list-item items__list-item--header">
    <div class="items__list-column items__list-column--name">
      Name
    </div>

    <div class="items__list-column items__list-column--quantity">
      Qty.
    </div>
  </li>
  {{#each wealth as |item id|}}
    <li
      class="items__list-item items__list-item"
      data-item-id="{{item._id}}">
      <img
        class="items__list-column items__list-column--icon"
        src="{{item.img}}" />

      <div class="items__list-column items__list-column--name">
        {{item.name}}
      </div>

      <div class="items__list-column items__list-column--quantity">
        <input
          type="text"
          readonly
          value="{{item.system.quantity.value}}"
          name="system.quantity.value" />
      </div>
    </li>
  {{else}}
    <li class="items__list-item items__list-item--empty">
      <span>Empty</span>
    </li>
  {{/each}}
</ul>