<ul class="items__list items__list--weapons">
  <li class="items__list-item items__list-item--header">
    <div class="items__list-column items__list-column--name">
      Name
    </div>

    <div class="items__list-column items__list-column--damage">
      Damage
    </div>

    <div class="items__list-column items__list-column--to-hit">
      To Hit
    </div>
  </li>
  {{#each weapons as |item id|}}
    <li
      class="
        items__list-item
        {{#if item.system.equipped}}
          items__list-item--equipped
        {{/if}}
      "
      data-item-id="{{item._id}}">
      <img
        class="items__list-column items__list-column--icon"
        src="{{item.img}}" />
      <div class="items__list-column items__list-column--name">
        <span
          {{#if item.system.quantity.value}}
            {{#if (or ../isNPC item.system.equipped)}}
              class="rollable"
              data-roll-type="item"
              data-label="{{item.name}}"
            {{/if}}
          {{else}}
            class="empty"
          {{/if}}>
          {{item.name}}
          {{#if (equals item.system.weaponType "thrown") }}
            x{{item.system.quantity.value}}
          {{/if}}
        </span>
      </div>

      <div class="items__list-column items__list-column--damage">
        {{#if item.system.damage}}
          {{item.system.damage}}
          {{#if (ne data.modDamage 0)}}
            {{signedString item.system.modDamage}}
          {{/if}}
        {{/if}}
      </div>

      <div class="items__list-column items__list-column--to-hit">
        {{#if (ne item.system.modToHit 0)}}
          {{signedString item.system.modToHit}}
        {{/if}}
      </div>

      {{#if (equals item.system.weaponType "ranged")}}
        </li>
        {{#each (lookup ../ammunition item.system.ammunitionType)}}
          <li
            class="items__list-item items__list-item--{{#if data.quantity.value}}ammunition{{else}}empty{{/if}}"
            data-item-id="{{_id}}">
            <div class="items__list-column items__list-column--name">
              &bull; {{name}} x{{data.quantity.value}}
            </div>

            <div class="items__list-column items__list-column--damage">
              {{#if data.damage}}
                {{data.damage}}
                {{#if (ne data.modDamage 0)}}
                  {{signedString data.modDamage}}
                {{/if}}
              {{/if}}
            </div>

            <div class="items__list-column items__list-column--to-hit">
              {{#if (ne data.modToHit 0)}}
                {{signedString data.modToHit}}
              {{/if}}
            </div>
          </li>
        {{/each}}
      {{else}}
        </li>
      {{/if}}
  {{else}}
    <li class="items__list-item items__list-item--empty">
      <span>Empty</span>
    </li>
  {{/each}}
</ul>