<ul class="items__list items__list--armor">
  <li class="items__list-item items__list-item--header">
    <div class="items__list-column items__list-column--name">
      Name
    </div>

    <div class="items__list-column items__list-column--type">
      Type
    </div>

    <div class="items__list-column items__list-column--ac">
      AC
    </div>
  </li>
  {{#each armor as |item id|}}
    <li
      class="
        items__list-item items__list-item
        {{#if item.system.equipped}}
          items__list-item--equipped
        {{/if}}
      "
      data-armor-type="{{item.system.armorType}}"
      data-item-id="{{item._id}}">
      <img
        class="items__list-column items__list-column--icon inset"
        src="{{item.img}}" />
      <div class="items__list-column items__list-column--name">
        {{item.name}}
      </div>

      <div class="items__list-column items__list-column--type">
        {{dynamicProp ../armorTypes item.system.armorType}}
      </div>

      <div class="items__list-column items__list-column--ac">
        {{#if (ne item.system.ac 0)}}
          {{signedString item.system.ac}}
        {{/if}}
      </div>
    </li>
  {{else}}
    <li class="items__list-item items__list-item--empty">
      <span>Empty</span>
    </li>
  {{/each}}
</ul>